*,*::before,*::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
}

:root{

    --Bright-Red: hsl(12, 88%, 59%);
    --Dark-Blue: hsl(228, 39%, 23%);

    --Dark-Grayish-Blue: hsl(227, 12%, 61%);
    --Very-Dark-Blue: hsl(233, 12%, 13%);
    --Very-Pale-Red: hsl(13, 100%, 96%);
    --Vary-Light-Gray: hsl(0, 0%, 98%);
}

html{
    font-size: 62.5%;
}

body{
    font-family: 'Be Vietnam', sans-serif;
    font-size: 1.6em;
    font-weight: 400;
}

header, section, footer{
    padding: 0 165px;
    color: var(--Dark-Grayish-Blue);
}

/* HEADER */
.header{
    width: 100%;;
    height: 95px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

.header .header-nav .nav-menu{
    list-style: none;
    display: flex;
    flex-direction: row;
}

.header .header-nav .nav-menu .menu-item{
    margin: 0 16px;
}

.header .header-nav .nav-menu .menu-item .menu-link{
    text-decoration: none;
    color: var(--Dark-Blue);
    font-size: 1.3rem;
    font-weight: 500;
}

.header .header-nav .nav-menu .menu-item .menu-link:hover{
    text-decoration: underline;
}

.btn{
    width: 140px;
    height: 45px;
    background: var(--Bright-Red);
    font-family: 'Be Vietnam', sans-serif;
    color: var(--Vary-Light-Gray);
    border-radius: 45px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(242, 95, 58, 0.8);
}

.btn:hover{
    filter: brightness(150%);
    opacity: 0.8;
}



/* HERO */
.hero{
    width: 100%;
    height: calc(100vh - 90px);
    display: flex;
    flex-direction: row;
}

.hero article{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero .info{
    width: 45vw
}

.hero .info .title{
    font-size: 4.9rem;
    line-height: 1.2em;
    max-width: 420px;
    display: block;
    font-weight: 700;
    color: var(--Dark-Blue);
}

.hero .info .subtitle{
    font-size: 1.6rem;
    margin: 2.5rem 0;
    display: inline-block;
    max-width: 340px;
}


.hero .graphic{
    align-items: flex-end;
    width: 65vw
}

.hero .graphic .graphic-image{
    width: 100%;
    max-width: 390px;
    height: auto;
}



/* ABOUT */
.about{
    width: 100%;
    min-height: 600px;
    display: flex;
    flex-direction: row;
    padding-bottom: 124px;
}

.about article{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about .info{
    width: 45vw;
    justify-content: flex-start;
}

.about .info .title{
    font-size: 4.9rem;
    line-height: 1.2em;
    max-width: 420px;
    display: block;
    font-weight: 700;
    color: var(--Dark-Blue);
}

.about .info .subtitle{
    font-size: 1.6rem;
    margin: 2.5rem 0;
    display: inline-block;
    max-width: 340px;
}

.about .list{
    width: 65vw;
    align-items: flex-end;
}

.about .menu-list{
    max-width: 485px;
    list-style: none;

}

.about .menu-list .menu-item{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-bottom: 40px;
}

.about .menu-list .menu-item .order{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 70px;
    background: var(--Bright-Red);
    color: var(--Vary-Light-Gray);
    height: 40px;
    border-radius: 40px;
    font-weight: bold;
    margin-right: 30px;
}

.about .menu-list .menu-item .title{
    flex-grow: 1;
    height: 100%;
    display: flex;
    align-items: center;
    height: 40px;
    color: var(--Dark-Blue);
    margin-bottom: 15px;
}

.about .menu-list .menu-item .subtitle{
    padding-left: 100px;
}
