/******************************/
/* ROOT
**************/
*,*::before,*::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
}

:root{
    --Bright-Red: hsl(12, 88%, 59%);
    --Dark-Blue: hsl(228, 39%, 23%);

    --Dark-Grayish-Blue: hsl(227, 12%, 61%);
    --Very-Dark-Blue: hsl(233, 12%, 13%);
    --Very-Pale-Red: hsl(13, 100%, 96%);
    --Vary-Light-Gray: hsl(0, 0%, 98%);
}

html{
    font-size: 62.5%;
}

body{
    font-family: 'Be Vietnam', sans-serif;
    font-size: 1.6em;
    font-weight: 400;
    color: var(--Dark-Grayish-Blue);
}

header, 
section, 
footer{
    padding: 0 165px;

}


button{
    font-family: 'Be Vietnam', sans-serif;
    font-weight: bold;
    border: none;
    cursor: pointer;
    position: relative;
    z-index: 10;
}

a, svg *{
    transition: all 500ms ease-in-out;
}

.btn{
    width: 140px;
    height: 45px;
    background: var(--Bright-Red);
    color: var(--Vary-Light-Gray);
    border-radius: 45px;
    box-shadow: 0 4px 20px 2px rgba(242, 95, 58, 0.4);
}

.btn::before{
    content: "";
    width: inherit;
    height: inherit;

    z-index: 100;
    position: absolute;
    top: 0;
    border-radius: inherit;
    display: block;
    transition: all 500ms ease-in-out;
}

.btn:hover::before{
    background: rgba(255, 255, 255, 0.4);
    box-shadow: 0 4px 6px rgba(255, 255, 255, 0.4);
}

.btn.btn-inverted{
    color: var(--Bright-Red);
    background: var(--Vary-Light-Gray);
    box-shadow: 0 4px 6px rgba(255, 239, 235, 0.3);
}

.no-shadow, 
.no-shadow::before, 
.no-shadow::after{
    box-shadow: none !important;
}

.no-shadow:hover{
    box-shadow: none !important; 
}


/******************************/
/* HEADER
**************/
.header{
    width: 100%;;
    height: 95px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

.header .header-nav .nav-menu{
    list-style: none;
    display: flex;
    flex-direction: row;
}

.header .header-nav .nav-menu .menu-item{
    margin: 0 16px;
}

.header .header-nav .nav-menu .menu-item .menu-link{
    text-decoration: none;
    color: var(--Dark-Blue);
    font-size: 1.3rem;
    font-weight: 500;
}

.header .header-nav .nav-menu .menu-item .menu-link:hover{
    color: var(--Dark-Grayish-Blue)
}




/******************************/
/* HERO
**************/
.hero{
    width: 100%;
    height: calc(100vh - 90px);
    display: flex;
    flex-direction: row;
}

.hero article{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero .info{
    width: 45vw
}

.hero .info .title{
    font-size: 4.9rem;
    line-height: 1.2em;
    max-width: 420px;
    display: block;
    font-weight: 700;
    color: var(--Dark-Blue);
}

.hero .info .subtitle{
    font-size: 1.6rem;
    margin: 2.5rem 0;
    display: inline-block;
    max-width: 340px;
}


.hero .graphic{
    align-items: flex-end;
    width: 65vw
}

.hero .graphic .graphic-image{
    width: 100%;
    max-width: 390px;
    height: auto;
}




/******************************/
/* ABOUT
**************/
.about{
    width: 100%;
    min-height: 600px;
    display: flex;
    flex-direction: row;
    padding-bottom: 124px;
}

.about article{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about .info{
    width: 45vw;
    justify-content: flex-start;
}

.about .info .title{
    font-size: 4.9rem;
    line-height: 1.2em;
    max-width: 420px;
    display: block;
    font-weight: 700;
    color: var(--Dark-Blue);
}

.about .info .subtitle{
    font-size: 1.6rem;
    margin: 2.5rem 0;
    display: inline-block;
    max-width: 340px;
}

.about .list{
    width: 65vw;
    align-items: flex-end;
}

.about .menu-list{
    max-width: 485px;
    list-style: none;

}

.about .menu-list .menu-item{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-bottom: 40px;
}

.about .menu-list .menu-item .order{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 70px;
    background: var(--Bright-Red);
    color: var(--Vary-Light-Gray);
    height: 40px;
    border-radius: 40px;
    font-weight: bold;
    margin-right: 30px;
}

.about .menu-list .menu-item .title{
    flex-grow: 1;
    height: 100%;
    display: flex;
    align-items: center;
    height: 40px;
    color: var(--Dark-Blue);
    margin-bottom: 15px;
}

.about .menu-list .menu-item .subtitle{
    padding-left: 100px;
}




/******************************/
/* EXPERIENCE
**************/
.experience{
    padding: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-bottom: 180px;
}

.experience > .title{
    font-size: 4.9rem;
    line-height: 1.2em;
    display: block;
    font-weight: 700;
    color: var(--Dark-Blue);
    text-align: center;
    margin-bottom: 80px;
}

.experience  .users{
    width: 100%;
    overflow: hidden;
}

.experience  .users .container{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
    padding: 100px 0;
}

.experience  .users .container .card-user{
    min-width: 410px;
    max-width: 430px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    flex-shrink: unset;
    margin: 0 25px;
    min-height: 220px;
}

.experience  .users .container .card-user .card-image{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    overflow: hidden;

}

.experience  .users .container.card-user .title{
    margin: 25px 0;
    color: var(--Dark-Blue);
}

.experience .button{
    margin: 0 auto;
}


/* CONTROLE SLIDER */
.experience .users{
    position: relative;
}

.experience .left,
.experience .right{
    display: flex;
    align-items: stretch;
    width: 100px;
    height: 100%;
    position: absolute;
    cursor: default;
    opacity: .5;
    z-index: 1000s;
}

.experience .left{
    left: 0;
    top: 0;
}

.experience .right{
    right: 0;
    top: 0;
}




/******************************/
/* SIMPLIFY
**************/
.simplify{
    width: 100%;
    background: var(--Bright-Red);
    color: var(--Vary-Light-Gray);
    height: 220px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-image: url("../img/bg-simplify-section-desktop.svg");
    background-repeat: no-repeat;
    background-position-x: 165px;
    background-position-y: bottom;
    background-size: 105%;
}

.simplify .title{
    font-size: 3.6rem;
    line-height: 1.2em;
    display: block;
    font-weight: 700;
    color: var(--Vary-Light-Gray);
    max-width: 420px;

}

/******************************/
/* FOOTER
**************/
.footer{
    width: 100%;
    height: 250px;
    background: var(--Very-Dark-Blue);
    color: var(--Vary-Light-Gray);

    display: flex;
    align-items: center;
}

.footer .container{
    padding: 0; /* Remove o padding padão do da section que foi definida no inicio */
    width: 100%;
    height: 120px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    
}

.footer .container .footer-nav{
    flex-grow: 1;
}

.footer .container article, .footer .container nav{
    max-height: 100%;
    min-width: 250px;
}

.footer .container .social{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer .container .social .menu-social{
    display: flex;
    flex-direction: row;
    list-style: none;
}

.footer .container .social .menu-social .menu-item{
    text-decoration: none;
    margin: 0 6px;
}

.footer .container .social .menu-social .menu-item:nth-child(1){
    margin-left: 0;
}

.footer .container .social .menu-social .menu-item:hover svg path{
    fill: var(--Bright-Red);
}

.footer .footer-nav .nav-menu{
    list-style: none;
    display: flex;
    flex-direction: column;
    height: 100%;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: space-between;
    align-content: space-between;
    width: 100%;
    max-width: 330px;
}

.footer .footer-nav .nav-menu .menu-item{
    margin: 3.5px 0px;
}


.footer .footer-nav .nav-menu .menu-item .menu-link{
    text-decoration: none;
    font-size: 1.4rem;
    color: var(--Vary-Light-Gray);
}

.footer .footer-nav .nav-menu .menu-item:hover .menu-link{
    color: var(--Bright-Red);
}

.footer .conversion {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}
.footer .conversion .form-conversion .field-input{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.footer .conversion .form-conversion .field-input input{
    width: 200px;
    height: 45px;
    border-radius: 45px;
    margin-right: 8px;
    border: none;
    outline: none;
    padding-left: 15px;
    color: var(--Bright-Red);
}

.footer .conversion .form-conversion .field-input .btn-go{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--Bright-Red);
    color: var(--Vary-Light-Gray);
    height: 45px;
    width: 65px;
    border-radius: 45px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: none;
    border: none;
   
}

.footer .conversion .form-conversion .field-input .invalid{
    width: 63.5%;
    display: none;
    font-size: 1.0rem;
    padding: 5px 15px;
    font-style: italic;
    color: #eb3b5a;
}

.footer .conversion .Copyright{
    font-size: 1.2rem;
}